@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body { 
     min-height: 100vh; 
} 

/* mise en forme du formulaire */

#container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
}

p, label{
    color: rgb(106, 85, 205);
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

/* ---délimitation des colonnes du tableau--- */



#table,th,td{
    /* min-height: 100vh;  */
    align-items: center;
    justify-content: center;
}

.tableau, th {
    border: 1px solid rgb(23, 22, 22);
    border-collapse: collapse;
}

.interieur{
    border: 1px solid rgb(23, 22, 22);
    border-collapse: collapse;
}

.number{
    border: 1px solid rgb(23, 22, 22);
    border-collapse: collapse;

}

.nommer{
    border: 1px solid rgb(23, 22, 22);
}

.cout{
    border: 1px solid rgb(23, 22, 22);
}

.quantite{
    border: 1px solid rgb(23, 22, 22);
}

.total{
    border: 1px solid rgb(23, 22, 22);
}

#totaux, td{
    border: 1px solid rgb(23, 22, 22);
    padding-left: 5px;
} 


/* bouton "vider panier" */
.suppression a:link{
  background-color: #287b446a;
  color: white;
  padding: 25px 50px;
  display: flex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.suppression a:hover, a:active {
    background-color: rgba(10, 114, 34, 0.807);
} 

/* bouton "recap" */
.recapitulatif a:link{
    background-color: #c9bf33ed;
    color: white;
    padding: 25px 50px;
    display: flex;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .recapitulatif a:hover, a:active {
      background-color: rgba(10, 114, 34, 0.807);
  } 